# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Flask instance folder
instance/

# SQLite database files
*.db

# Logs
*.log

# Environment variables
.env
